html {
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px ;
    color: #242A45;
    background-color: #F2F2F2;
}
.container {
    max-width: 1440px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
}
/*HEADER*/
.site-header {
    margin-bottom: 120px;
}
.nav-item {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
}
.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 48px;
}
.nav-link {
    margin-left: 48px;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    color: #242A45;
}
.nav-link:hover {
    color: #fa5959;
}
.login {
    padding: 12px 33px;
    font-weight: 500;
    font-style: 13px;
    line-height: 17px;
    background-color: #fa5959;
    border-radius: 5px;
    border: 2px solid transparent;
    color: #fff;
}
.login:hover {
    border-color: #fa5959;
    background-color: #fff;
}
/*hero*/
.hero {
    margin-bottom: 180px;
}
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-info {
    width: 540px;
}
.hero-title {
    margin-bottom: 24px;
    margin: 0;
    font-weight: 500px;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.15px;
    color: #242A45;
}
.hero-text {
    margin-top: 0;
    margin-bottom: 32px;
}
.buttons {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
}
.xrome, .frefox {
    padding: 10px 32px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all ease .3s;
}
.xrome {
    margin-right: 16px;
    background-color: #5267DF;
    color: #fff;
}
.xrome:hover {
    border-color: #242A45;
    color: #242A45;
    background-color: #f7f7f7;
}
.frefox {
    background-color: #f7f7f7;
    color: #242A24;
}
.frefox:hover {
    background-color: #ffff;
    color: #5B6074;
    border-color: #000000;
}

.feature-container {
    text-align: center;
    margin-bottom: 73px;
}
.navigator {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.navigator-link {
    width: 730px;
    margin-right: auto;
    margin-left: auto;
    height: 55px;
    border-bottom: 1px solid black;
}
.linklar {
    padding-bottom: 27px;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
    color: #242A45;
    
}
.linklar:hover {
    color: #fa5959;
}
.rang {
    margin-right: 60px;
    border-bottom: 4px solid #FA5959;
}

.section2-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 175px;
}
.click {
    width: 445px;
    margin-right: 150px;
}
h3 {
    font-family: Rubik;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.10000000149011612px;
}
.button {
    padding: 10px 24px;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: #fff;
    background-color: #5267DF;
    border: 1px solid;
    border-color:  #5267DF;
    border-radius: 5px;
}
.button:hover {
    border-color: #242A45;
    color: #242A45;
    background-color: #f7f7f7;
}

.section3-container {
    text-align: center;
    width: 700px;
    margin-bottom: 48px;
}
h4 {
    font-family: Rubik;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
}
.p4 {
    Font family: Rubik;
    Font size: 18px;
    Line height: 28px;
    Line height: 131%;
}
 
ul {
    display: flex;
    justify-content: center;
}
li {
    width: 280px;
    height: 371px;
    padding: 30px 0;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    list-style-type: none;
}
.imglar {
    text-align: center;
    margin-bottom: 32px;
}
h5 {
    margin: 0;
    margin-bottom: 6px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.25px;
}
.p5 {
    margin-top: 0;
    padding: 0;
    margin-bottom: 35px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
}
.butt {
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    border: 2px solid transparent;
    background-color: #5267DF;
    color: #fff;
    border-color: #5267DF;
}
.butt:hover {
    background-color: #fff;
    color: #5267DF;
}
.li2 {
    margin-top: 40px;
    margin-left: 34px;
}
.li3 {
    margin-top: 80px;
    margin-left: 37px;
}
.nuqta {
    margin-bottom: 35px;
}


.askid-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h6 {
    margin-bottom: 0;
    font-size: 32px;
    margin-bottom: 10px;
}
.p6 {
    width: 500px;
    margin-bottom: 0;
    padding-bottom: 56px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #242A45;
    border-bottom: 1px solid  #242A45;
    opacity: 0.5;
    text-align: center;
}
.question-on{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 54px;
}
.questions {
    padding: 5px 0;
    color: #242A45;
    border-bottom: 1px solid #242A45 ;
}
.questions:hover {
    color: #fa5959;
}
.more {
    padding: 15px 24px;
    border: 1px solid;
    border-color: #5267DF;
    background-color: #5267DF;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 40px;
}
.more:hover {
    border-color: #242A45;
    color: #242A45;
    background-color: #f7f7f7;
}